<div class="container">
    <legend>Create Item</legend>
    <form>
      <div class="mb-3">
        <label for="txtName" class="form-label">NameRestaurant</label>
        <input type="text" name="NameRestaurant" [(ngModel)] = "fruitForm.nameRestaurant" class="form-control" id="txtnameRestaurant" />
      </div>
      <div class="mb-3">
        <label for="txtPhoto" class="form-label">Photo</label>
        <input type="text" name="Photo" [(ngModel)] = "fruitForm.photo" class="form-control" id="txtPhoto" />
      </div>
      <div class="mb-3">
        <label for="txtPhoto" class="form-label">Phone</label>
        <input type="text" name="Phone" [(ngModel)] = "fruitForm.phone" class="form-control" id="txtPhone" />
      </div>
      <div class="mb-3">
        <label for="txtPhoto" class="form-label">Adresse</label>
        <input type="text" name="adresse" [(ngModel)] = "fruitForm.adresse" class="form-control" id="txtadresse" />
      </div>
      <button type="button" (click)="create()" class="btn btn-primary">Create</button>
    </form>
  </div>